<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{title : 'Detalle de producto'})%>

  <body class="detail">
    <%- include('partials/header') %>
    <main>
        <div class="box-detail">
          <section class="carrusel">  
            <article class="producto">
              <div class="carruselarrow">
                  <img src="/images/productos/<%= detalle.images[0].file %>" alt="" width="80%"/>               
              </div>         
            </article>
          </section>
          <section class="box-desc">
            <article class="descripcion">
              <div class="nombre">
                <h4>nombre del producto:</h4>
                <p><%= detalle.name %></p>
              </div>
              <div class="stock">
                <h4>Variedad:</h4>
                <p><%= detalle.variety %></p>
              </div>
              <div class="marca">
                <h4>Marca:</h4>
                <p><%= detalle.mark %></p>
              </div>
              <div class="info">
                <h4>Informacion nutricional:</h4>
                <p><%= detalle.info %></p>
              </div>
              <div class="vegan">
                <% if (detalle.vegan === true) { %>
                  <img src="/images/—Pngtree—icon for vegan vector illustration_5224039.png" width="300px" alt="">
                <% } else { %>
                  <h4>Apto vegano:</h4>
                  <p>No</p>
                  <% } %>
                 
              </div>
              <div class="vegan">
                <% if (detalle.celiac === true) { %>
                  <img src="/images/unnamed.png" width="220px" alt="">
                <% } else { %>
                  <h4>Apto Celiaco:</h4>
                  <p>No</p>
                  <% } %>
              </div>
              <div class="precio">
                <h4>Precio:</h4>
                <p>$<%= detalle.price %></p>
              </div>
            <% if (detalle.discount > 0) { %>
              <div class="desc">
                <h4>Descuento:</h4>
                <p><%= detalle.discount %>%</p>
              </div>
            <% } %>  
            </article>
          </section>
        </div>
      <div>
        <a class="agregar" href="#" onclick="addItem(event,'<%=detalle.id%>')"><i class="fas fa-shopping-cart"></i>Agregar al carrito</a>
      </div>
      <h3>Productos relacionados</h3>
      <section class="relacionados">
        <% productos.forEach(producto => { %>
          <% if(producto.id < 5){ %>
          <article class="a">
               <a class="product" href="/products/detail/<%= producto.id %> "> <img src="/images/productos/<%= producto.images[0].file%>" alt=""></a>
               <div>
               <h4><%= producto.name %> </h4>
              </div>
               <p>$<%= producto.price %> </p>
               <a class="carrito" href="/products/cart">añadir al carrito</a>
          </article>
              <%}%>
      <% }) %>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
