<!DOCTYPE html>
<html lang="es">

<%- include('partials/head',{title : 'Detalle de producto'})%>

  <body class="detail">
    <%- include('partials/header') %>
    <main>
        <div class="box-detail">
          <section class="carrusel">  
            <article class="producto">
              <div class="carruselarrow">
                <a href="" class="arrow"><i class="fas fa-chevron-left"></i></a>
                <img src="/images/productos/<%= producto.Imagen %>" alt="" width="80%"/>
                <a href="" class="arrow"><i class="fas fa-chevron-right"></i></a>
              </div>
              <div class="nav">
                <a class="circle" href=""><i class="fas fa-circle"></i></a>
                <a class="circle" href=""><i class="fas fa-circle"></i></a>
                <a class="circle" href=""><i class="fas fa-circle"></i></a>
              </div>
            </article>
          </section>
          <section class="box-desc">
            <article class="descripcion">
              <div class="nombre">
                <h4>nombre del producto:</h4>
                <p><%= producto.Producto %></p>
              </div>
              <div class="stock">
                <h4>Disponible en:</h4>
                <p><%= producto.Variedad %></p>
              </div>
              <div class="marca">
                <h4>Marca:</h4>
                <p><%= producto.Marca %></p>
              </div>
              <div class="info">
                <h4>Informacion nutricional:</h4>
                <p><%= producto.Informacion %></p>
              </div>
              <div class="vegan">
                <% if (producto.Vegano === true) { %>
                  <img src="/images/—Pngtree—icon for vegan vector illustration_5224039.png" width="300px" alt="">
                <% } else { %>
                  <h4>Apto vegano:</h4>
                  <p>No</p>
                  <% } %>
                 
              </div>
              <div class="vegan">
                <% if (producto.Celiaco === true) { %>
                  <img src="/images/unnamed.png" width="220px" alt="">
                <% } else { %>
                  <h4>Apto Celiaco:</h4>
                  <p>No</p>
                  <% } %>
              </div>
              <div class="precio">
                <h4>Precio:</h4>
                <p>$<%= producto.Precio %></p>
              </div>
              <div class="desc">
                <h4>Descuento:</h4>
                <p><%= producto.Descuento %>%</p>
              </div>
            </article>
          </section>
        </div>
      <div>
        <a class="agregar" href=""><i class="fas fa-shopping-cart"></i>Agregar al carrito</a>
      </div>
      <h3>Productos relacionados</h3>
      <section class="relacionados">
            <% productos.forEach(producto => { %>
              <% if (producto.id < 5) { %>
                <article>
                  <a href="/products/detail/<%= producto.id %> "><img src="/images/productos/<%= producto.Imagen %>" alt="product1" width="100%"></a>
                  <div class="nombreprod">
                    <span>$<%= producto.Precio %></span>
                    <h4><%= producto.Producto %></h4>
                  </div>
                </article>
              <% } %>
            <% }) %>
      </section>
      <div class="nav-pages">
        <i class="far fa-arrow-alt-circle-left"></i>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="far fa-arrow-alt-circle-right"></i>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
