<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head',{title: "Productos"})%>
<body class="listaproducts">
    <%- include('partials/header')%>
    <script defer src="/javascript/products.js"></script>
    <main>
        <section>
            <div class="grande">
                <form action="/products/category">
                 <h1>PRODUCTOS</h1>
                 <select name="categoria" id="categoria">
                     <option value="" selected disabled>Filtrar por categoria</option>
                     <option value="alfajores">Alfajores</option>
                     <option value="bombones">Bombones</option>
                     <option value="caramelos">Caramelos</option>
                     <option value="chicles">Chicles</option>
                     <option value="chocolate">Chocolate</option>
                     <option value="chupetines">Chupetines</option>
                     <option value="gomitas">Gomitas</option>
                 </select>
                 <button type="submit">Buscar</button>
                </form>
            <div >
                <% productos.forEach(producto => { %>
                    <% if (producto.id <= 11) { %>
                        <article class="carrusel">
                            <a class="product" href="/products/detail/<%= producto.id %> "><img src="/images/productos/<%= producto.images%>" alt=""></a>
                            <div class="nombre">
                            <h4><%= producto.name %> </h4>
                           </div>
                            <p>$<%= producto.price %> </p>
                            <a class="carrito" href="/products/cart">añadir al carrito</a>
                       </article> 
                    <% } %>  
                <% }) %>

            </div>
            <div >
                <% productos.forEach(producto => { %>
                    <% if (producto.id > 11 && producto.id <= 22 ) { %>
                        <article class="carrusel">
                            <a class="product" href="/products/detail/<%= producto.id %> "><img src="/images/productos/<%= producto.Imagen%>" alt=""></a>
                            <div class="nombre">
                            <h4><%= producto.name %> </h4>
                           </div>
                            <p>$<%= producto.price %> </p>
                            <a class="carrito" href="/products/cart">añadir al carrito</a>
                       </article> 
                    <% } %>  
                <% }) %>
            </div>
            
            <div >
                <% productos.forEach(producto => { %>
                    <% if (producto.id > 22 && producto.id <= 33) { %>
                        <article class="carrusel">
                            <a class="product" href="/products/detail/<%= producto.id %> "><img src="/images/productos/<%= producto.Imagen%>" alt=""></a>
                            <div class="nombre">
                            <h4><%= producto.name %> </h4>
                           </div >
                            <p>$<%= producto.price %> </p>
                            <a class="carrito" href="/products/cart">añadir al carrito</a>
                       </article> 
                    <% } %>  
                <% }) %>
            </div>
        </div>
            <il class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
                <li class="punto"></li>
                <li class="punto"></li>
            </il>
        </div> 
        </section>
    </main>
    <%- include('partials/footer')%>

</body>
</html>