<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title: "Editar Producto"})%>

<body class="edit">
    <%- include('partials/header') %>
   <main>
       <h1>Editar Producto</h1>
       <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
           <div class="box-form ">
               <label for="nombre">Nombre del Producto</label>
               <input type="text" name="nombre" id="nombre" value="<%= product.name %>">
           </div>
           <div class="box-form">
               <label for="informacion">Informacion Nutricional</label> 
               <textarea name="informacion" id="informacion" cols="30" rows="10"><%= product.info %></textarea>
           </div>
           <div class="box-form">
               <label for="marca">Marca</label>
               <input type="text" name="marca" id="marca" value="<%= product.mark %>">
           </div>
            <div class="box-form">
                <label for="variedad">Variedad</label>
                <input type="text" name="variedad" id="variedad" value="<%= product.variety %>">
            </div>
            <div class="box-form">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" value="<%= product.price %>">
            </div>
            <div class="box-form">
                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock" value="<%= product.stock %>">
            </div>
            <div class="box-form">
                <label for="descuento">Descuento</label>
                <input type="number" name="descuento" id="descuento" value="<%= product.discount %>">
            </div>
            <div class="box-form">
                <label for="imagen">Subir Imagen</label>
                <input type="file" name="imagen" id="imagen" accept="images/*" multiple>
            </div>
            <div class="box-form">
                <label for="vegano">Apto Vegano</label>
                <select name="vegano" id="vegano">
                    <option value= false>No</option>
                        <option value= true>Si</option>
            </select>
            </div>
            <div class="box-form">
                <label for="celiaco">Sin Tacc</label>
                <select name="celiaco" id="celiaco">
                        <option value= false>No</option>
                        <option value= true>Si</option>
            </select>
            
            </div>
            <div class="box-form">
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                    <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>" <%= product.categoryId === categoria.id ? 'selected' : null %> ><%= categoria.name %> </option>
                       <% }) %>
                       
            </select>
            </div>
            <div class="box-button">
                <button type="submit">Actualizar Producto</button>
                <button type="reset">Cancelar</button>
            </div>
       </form>
   </main>
	
    <%- include('partials/footer') %>

</body>

</html>