<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head',{title: "Productos"})%>
<body class="listaproducts">
    <%- include('partials/header')%>
    <script defer src="/javascript/products.js"></script>
    <main>
        <section>
            <div>
                <form action="/products/category">
                 <h1>PRODUCTOS</h1>
                 <select name="categoria" id="categoria">
                     <option value="" selected disabled>Filtrar por categoria</option>
                     <option value="alfajores">Alfajores</option>
                     <option value="bombones">Bombones</option>
                     <option value="caramelos">Caramelos</option>
                     <option value="chicles">Chicles</option>
                     <option value="chocolate">Chocolate</option>
                     <option value="chupetines">Chupetines</option>
                     <option value="gomitas">Gomitas</option>
                 </select>
                 <button type="submit">Buscar</button>
                </form>
            <div >
                <div class="listado">
                <% productos.forEach(producto => { %>
                        <article class="carrusel">
                            <div>
                            <a class="product" href="/products/detail/<%= producto.id %> "><img src="/images/productos/<%= producto.images[0].file%>" alt=""></a>
                            </div>
                            <div class="nombre">
                            <h4><%= producto.name %> </h4>
                           </div>
                            <p>$<%= producto.price %> </p>
                            <a class="carrito" href="#" onclick="addItem(event,'<%=producto.id%>')">añadir al carrito</a>
                       </article> 
                <% }) %>
            </div>

            </div>
        </section>
    </main>
    <%- include('partials/footer')%>

</body>
</html>