<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title: "Editar Producto"})%>

<body class="edit">
    <%- include('partials/header') %>
   <main>
       <h1>Editar Producto</h1>
       <form action="/products/edit/<%= product.id %>?_method=PUT" id="form" method="POST" enctype="multipart/form-data">
           <div class="box-form ">
               <label for="nombre">Nombre del Producto</label>
               <input type="text" name="nombre" id="nombre" class="form-control" value="<%= product.name %>">
                <small class="text-danger small"><%= locals.errores && errores.nombre ? errores.nombre.msg : null %> </small>
                <small class="alertNombre"></small>
           </div>
           <div class="box-form">
            <label for="informacion">Informacion</label>
            <input type="textarea" name="informacion" id="informacion" value="<%= product.info %>">
            <small class="text-danger small"><%= locals.errores && errores.informacion ? errores.informacion.msg : null %> </small>
            <small class="alertInformacion"></small>
        </div>
           <div class="box-form">
               <label for="marca">Marca</label>
               <input type="text" name="marca" id="marca" value="<%= product.mark %>">
               <small class="text-danger small"><%= locals.errores && errores.marca ? errores.marca.msg : null %> </small>
               <small class="alertMarca"></small>
           </div>
            <div class="box-form">
                <label for="variedad">Variedad</label>
                <input type="text" name="variedad" id="variedad" value="<%= product.variety %>">
                <small class="text-danger small"><%= locals.errores && errores.variedad ? errores.variedad.msg : null %> </small>
                <small class="alertVariedad"></small>
            </div>
            <div class="box-form">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" value="<%= product.price %>">
                <small class="text-danger small"><%= locals.errores && errores.precio ? errores.precio.msg : null %> </small>
                <small class="alertPrecio"></small>
            </div>
            <div class="box-form">
                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock" value="<%= product.stock %>">
                <small class="text-danger small"><%= locals.errores && errores.stock ? errores.stock.msg : null %> </small>
                <small class="alertStock"></small>
            </div>
            <div class="box-form">
                <label for="descuento">Descuento</label>
                <input type="number" name="descuento" id="descuento" value="<%= product.discount %>">
                <small class="text-danger small"><%= locals.errores && errores.descuento ? errores.descuento.msg : null %> </small>
                <small class="alertDescuento"></small>
            </div>
            <div class="box-form">
                <label for="imagen">Subir Imagen</label>
                <input type="file" name="imagen" id="imagen"   accept="images/*" multiple>
                <div class="imagen">
                    <img src="/images/productos/<%= product.images[0].file%>" alt="">
                </div>
            </div>
            <div class="box-form">
                <label for="vegano">Apto Vegano</label>
                <select name="vegano" id="vegano" value="<%= product.vegan %>">
                   
                    <% if (!product.vegan === false) { %>
                        <option value="true">Si</option>
                        <option value="false">No</option>
                      <% } else { %>
                        <option value="false">No</option>
                        <option value="true">Si</option>
                        <% } %>
            </select>
            </div>
            <div class="box-form">
                <label for="celiaco">Sin Tacc</label>
                <select name="celiaco" id="celiaco" >
                    <% if (!product.celiac === false) { %>
                        <option value="true">Si</option>
                        <option value="false">No</option>
                      <% } else { %>
                        <option value="false">No</option>
                        <option value="true">Si</option>
                        <% } %>
            </select>
            
            </div>
            <div class="box-form">
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                    <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>" <%= product.categoryId === categoria.id ? 'selected' : null %> ><%= categoria.name %> </option>
                       <% }) %>
                       
            </select>
            </div>
            <div class="box-button">
                <button type="submit">Actualizar Producto</button>
                <button type="reset">Cancelar</button>
            </div>
       </form>
   </main>
	
   <script src="/javascript/productos.js"></script>

    <%- include('partials/footer') %>

</body>

</html>