<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head',{title: "Resultado de la busqueda"})%>
<body class="busqueda">
    <%- include('partials/header')%>
    <main>
        <section>
            <div>
                <% if (productos.length > 0) { %>
                <% productos.forEach(producto => { %>
                    <article>
                        <a class="product" href="/products/detail/<%= producto.id %> "><img src="/images/productos/<%= producto.images[0].file%>" alt=""></a>
                        <div>
                        <h4><%= producto.name %> </h4>
                       </div>
                        <p>$<%= producto.price %> </p>
                        <a class="carrito" href="/products/cart">añadir al carrito</a>
                   </article> 
                <% }) %>
                <% } else { %>
                    <h3>No hay resultados para tu busqueda</h3> 
                    <% } %>
                 
                 
            </div>
        
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>