<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: "Perfil de usuario"})%>

<body>
    <%- include('partials/header') %>

    <main id="user">
        <div id="background" style="background: url('images/fondo.webp')">
            <h1 id="name">
                <%= usuario.name %>
            </h1>
            <div id="perfil" style="background-image: url('images/profiles/<%= usuario.image %>')">
                <button id="imagen"><a href=""><i class="icon" id="camera">photo_camera</i></a></button>
            </div>
        </div>
        <div id="contain">
            <h2>Datos personales</h2>
            <ul>
                <li><b>Nombre y apellido</b>
                    <br><%= usuario.name %>
                </li>
                <li><b>Email</b>
                    <br><%= usuario.email %>
                </li>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>